.last-list {
    width: 270px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    margin-right: 10px;
    height: fit-content;
}

.last-list:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.last-list > .add-another {
    width: 270px;
    margin-left: 10px;
    padding: 10px 0;
}

.last-list > .add-another > * {
    color: rgb(255, 255, 255);
    font-size: 95%;
}

.last-list > .add-another:hover {
    background-color: transparent;
}

.new-list {
    flex-direction: column;
    width: 270px;
    background-color: #EBECF0;
    padding: 5px;
    border-radius: 3px;
    height: fit-content;
}

.new-list > input {
    width: 100%;
    font-size: 95%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: white;
    border-color: rgba(14, 100, 212, 0.911);
}

.new-list > input::placeholder{
    color: var(--text);
}

.new-list > input:focus {
    outline-color: rgba(14, 100, 212, 0.911);
}

.new-list > div {
    display: flex;
    align-items: flex-start;
}

.new-list > div > a {
    font-size: 95%;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: rgba(17, 158, 17, 0.8);
}

.new-list > div > a:hover {
    background-color: rgba(23, 185, 23, 0.8);
}

.new-list i {
    transform: rotate(45deg);
    font-size: 120%;
    margin-top: 8px;
}