.cards {
    max-height: 73vh;
    overflow-y: auto;
}

.card-container {
    position: relative;
}

.card {
    background-color: white;
    margin: 6px 0;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 0.1px rgba(128, 128, 128, 0.5);
}

.card:hover {
    background-color: #f3f3f3;
}

.card:hover + a {
    opacity: 0.6;
}

.label-bar {
    display: flex;
    flex-flow: row wrap;
}

.card > p {
    margin: 2px 0;
    margin-left: 2px;
    font-size: 96%;
    text-align: left;
}

.label-div {
    width: 40px;
    height: 8px;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 3px 0;
    padding: 0 3px;
    justify-content: space-between;
}

.checkListDesc > i {
    font-size: 110%;
    margin-right: 15px;
}

.cardmembers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 95%;
}

.cardmem {
    min-width: 28px;
    height: 28px;
    padding: 6px;
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.cardmem > p {
    font-size: 85%;
}

.cardmem:hover{
    background-color: rgba(190, 190, 190, 0.7);
}

.card-container > i {
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 2px;
    font-size: 95%;
}

.card-container > i:hover {
    opacity: 0.6;
    background-color: rgba(190, 190, 190, 0.5);
}