.list {
    width: 270px;
    background-color: #EBECF0;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    height: fit-content;
    position: relative;
}

.list-title {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
}

.list .list-title > input {
    background-color: transparent;
    outline-color: rgba(14, 100, 212, 0.911);
    border: none;
    border-radius: 3px;
    width: 235px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.list-title > a {
    padding: 4px 7px;
    border-radius: 3px;
}

.list .list-title > a:hover {
    background-color: rgba(190, 190, 190, 0.5);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 95%;
    cursor: pointer;
    height: fit-content;
}

.footer * {
    color: rgba(25, 25, 25, 0.5);
}

.add-another{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 235px;
    margin: 2px 0;
    padding: 5px;
    border-radius: 3px;
}

.template {
    padding: 8px;
    border-radius: 3px;
}

.add-another:hover, 
.template:hover {
    background-color: rgba(25, 25, 25, 0.1);
}