.content {
    height: 87vh;
    padding: 3px 10px;
    overflow-y: hidden;
    font-size: 85%;
    color: rgba(12, 18, 66, 0.7);
    display: flex;
    flex-flow: row nowrap;
}

.content * {
    color: rgba(12, 18, 66, 0.7);
}

.add-another > p {
    margin-left: 10px;
}

.add-another:hover {
    background-color: rgba(25, 25, 25, 0.1);
}